<div class="newTab">
    <form method="POST" action="/tabs/upload">
        <label for="tabName">Tab Name:</label>
        <input id="tabName" type="text" name="tabName"/>
        <label for="songName">Song Name:</label>
        <input id="songName" type="text" name="songName"/></br>
        <label for="artistName">Artist Name:</label>
        <input id="artistName" type="text" name="artistName"/>
        <label for="authorName">Author Name:</label>
        <input id="authorName" type="text" readonly="readonly" name="authorName" value={{author}}></input></br>
        <textarea name="content" rows="10" cols="100"></textarea></br>
        <button type="submit">Submit</button>
    </form>
</div>