<div class="signin">
    <p id="error">{{error}}</p>
    <form method="POST" action="/signin" id="signin">
        <label for="username">Username:</label>
        <input id="user" type="text" name="username"/></br>
        <label for="password">Password:</label>
        <input id="password" type="text" name="password"/></br>
        <button type="submit">Submit</button>
    </form>
</div>